<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Add a message</a>
    <ul>
      <% messages.forEach((message)=>{ %>
        <li class="message">
          <% const difference = (new Date().getTime() - message.added.getTime()) / 1000; %>
          <% if(difference < 60){%><h4 class="time">less than a minute ago</h4><%}%>
          <% if(difference > 60){%>
            <% const minCount = Math.trunc(difference / 60); %>
            <% if(minCount === 1){%><h4 class="time"><%=minCount%> minute ago</h4><%}%> 
            <% if(minCount != 1){%><h4 class="time"><%=minCount%> minutes ago</h4><%}%> 
            <%}%>
          <h4><%= message.user %></h4>
          <h3><%= message.text %></h3>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
